.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 10rem;
    
    div {
        height: 3rem;
        aspect-ratio: 1;
        border: 2px solid black;
        border-radius: 3px;
    }
    div.active {
        background-color: green;
    }
    div.unactive {
        background-color: transparent;
    }
}